$Primary-Color: hsl(300, 43%, 22%);
$Secondary-Color: hsl(333, 80%, 67%);

$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);


* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    }

body {
    color: $Dark-Grayish-Magenta;
    font-family: 'Spartan', sans-serif;
    padding: 0 2vw;
    font-size: 1.2rem;
    font-weight: 500;

    .header {
        padding-top: 3rem;
        text-align: center;

        .header-head {
            font-size: 40px;
            padding: 0 2rem;
            color: $Primary-Color;


            }

        .header-paragraph {
            line-height: 2rem;
            padding: 0 2rem;
            }
        }

    .rating-section {


        .rating {
            background: $Light-Grayish-Magenta;
            height: 6rem;
            margin: 2rem;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
            text-align: center;
            border-radius: .6rem;

            p {
                font-weight: bold;
                font-size: 16px;
                color: $Primary-Color;
                }
            }
        }

    .testimonial-section {
        margin: 0 2rem;
        color: $White;
        font-size: 18px;

        .testimonials {
            background: $Primary-Color;
            margin-bottom: 1rem;
            padding: 3rem 2rem;
            border-radius: .7rem;

            .testimonials-head {
                display: flex;
                height: 80px;
                align-content: center;
                align-items: center;
                padding-bottom: 3rem;

                img {
                    border-radius: 50%;
                    height: 60px;
                    width: 60px;
                    }

                div {
                    padding-left: 20px;

                    h4 {
                        margin: .3rem .5rem;
                        }

                    p {
                        margin: .3rem .5rem;
                        color: $Secondary-Color;
                        }
                    }

                }

            q {
                line-height: 30px;
                }
            }
        }

    @media (min-width: 1000px) {
        .head {
            display: flex;
            margin: 2rem;


            .header {
                text-align: left;
                width: 50%;
                }

            .rating-section {
                padding: 3rem 2rem 0;
                width: 50%;

                .rating {
                    display: flex;
                    flex-direction: row;
                    height: 4rem;
                    padding-top: .35rem;
                    width: 80%;
                    justify-content: left;
                    margin: 2rem 0;


                    div {
                        margin: 0 3%;


                        }
                    }

                .rating-2 {
                    margin-left: 10%;
                    }

                .rating-3 {
                    margin-left: 20%;
                    }
                }
            }
        .testimonial-section {
            margin: 0 4rem;
            }
        }

    @media (min-width: 1000px) {
        .testimonial-section {
            display: flex;


            .testimonials {
                margin: 0 1%;
                height: 80%;

                }

            .testimonials-2 {
                margin-top: 2.5%;
                }

            .testimonials-3 {
                margin-top: 5%;
                }
            }
        }
    }
